.login-txt{
  font-size: 12px;
}
.el-tabs__header{
  margin: 0;
}
.header{
  height: 60px;
  line-height: 60px;
  .logo{
    width: 128px;
    height: 32px;
  }
}
.content{
  width: 1200px;
  margin: 0 auto;
}
.con-left{
  color:#333;
  font-size: 14px;
  li{
    line-height: 32px;
    text-align: center;
  }
  li:hover{
    cursor: pointer;
    background-color: #f44444;
    color: #fff;
  }
}
.con-center{
  .top{
    padding-bottom: 10px;
    .title{
      display: inline-block;
      width: 80%;
      .txt{
        display: inline-block;
        width: 100%;
        font-size: 18px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow:ellipsis;
      }
    }
  }
  .center{
    color: #8a8a8a;
    font-size: 14px;
    padding: 0 20px;
  }
  .bottom{
    padding: 10px 20px 20px;
    .author{
      width: 30px;
      height: 30px;
      border-radius: 2px;
      .img{
        width: 30px;
        height: 30px;
        border-radius: 2px;
      }
    }
    .name{
      color: #3d3d3d;
    }
    .time{
      color: #8a8a8a;
    }
  }
  .el-divider--horizontal{
    margin: 0;
  }
}
.authorInfo:hover{
  cursor:pointer
}